body {
    text-align: center;
    margin: 0;
    background: #bf4d5d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    max-width: 350px;
    background-color: #0d1b2a;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
